<h1 align="center">
    Unique Eats
</h1>
    <h3 align="center">
        Already a member?
    </h3>
        <div align="center"id="button1">
            <button align="center" class="btn btn-success" onclick="location.href='/login'">Login</a></button>
        </div>
    <h3 align="center">
        Ready to signup?
    </h3>
        <div align="center">
            <button align="center" class="btn btn-success" onclick="location.href='/signup'">Sign Up</a></button>
        </div>
<style>
@import 'https://fonts.googleapis.com/css?family=Nothing+You+Could+Do';
@import 'https://fonts.googleapis.com/css?family=Audiowide';


    h1 {
        font-family: 'Audiowide', cursive;
        font-weight: bolder;
        font-size: 75px;
        color: white;
    }

    h3 {
        font-family: 'Audiowide', cursive;
        font-weight: bolder;
        font-size: 25px;
        color: white;

    }
</style>
