<h2 align="center">
    Sign Up!
</h2>
<form align="center" action="/signup" method="POST">
    <input name="username" type="text" placeholder="login name"><br>
    <input name="password" type="password" placeholder="password"><br>
    <button class="btn btn-success btn-lg" type="submit">Sign Up</button>
</form>

<style>
@import 'https://fonts.googleapis.com/css?family=Nothing+You+Could+Do';
@import 'https://fonts.googleapis.com/css?family=Audiowide';

h2 {
    font-family: 'Audiowide', cursive;
    font-weight: bolder;
    font-size: 75px;
    color: white;
}

form {
    /*border: 2px dotted white;*/
    align-content: center;
}

input[type="text"] {
    font-family: 'Audiowide', cursive;
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    font-family: 'Audiowide', cursive;
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>
